
.scene {
    width: 200px;
    height: 200px;
    background: radial-gradient(#fff, #4965E2 );
    position: relative;
    overflow: hidden;
    border: 2px solid #4a5ccc;
}


.scene .mushroom:nth-child(1) {
    position: absolute;
    top:90px;
    left:5px;
}

.scene .mushroom:nth-child(2) {
    position: absolute;
    top:120px;
    left: 50px;
    transform: scale(0.6) rotate(45deg);
}

.scene .mushroom .cap {
    position: relative;
    width:100px;
    content: '';
    height: 50px;
    background: radial-gradient(farthest-corner at 65px 10px,rgba(255,255,255), #5F1512 );
    border-radius: 80px 80px 0 0;
}

.scene .mushroom .stem {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translateX(-50%);
    width:30px;
    content: '';
    height: 75px;
    background: #D3CCCA;
    border-radius: 50% 50%;
    border: 2px solid #55171D;
}

.grass {
    
    position: absolute;
    bottom: 3%;


    content: '';
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.grass-blade {
    content: '';
    width:0;
    height:0;
    border-left: 33.3px solid transparent;
    border-right: 33.3px solid transparent;

    border-bottom: 40px solid lime;
  
}

.grass-blade {
    margin-left:-25px
}

.grass-blade:nth-child(1) {
    margin-left:0px;
}


.bee {
    position: absolute;
    top: 35%;
    right:25%;
    transform: scale(0.9) rotate(-45deg);
}


.bee .body {
    position: relative;
    background: gold;
    width: 50px;
    height:20px;
    border-radius: 50%;
    border: 2px solid goldenrod;

}

.bee .body .wing {
    position: absolute;
    background: #6A84F9;
    width: 35px;
    height:15px;
    border-radius: 50%;
    border: 2px solid #4A63C8;

}
.bee .body .wing:nth-child(2) {
    transform: rotate(70deg) translate(-60%, -50%);
}
.bee .body .wing:nth-child(1) {
    transform: rotate(110deg) translate(-75%, -25%);
}


.bee .body .wing:nth-child(4) {
    transform: rotate(-70deg) translate(-60%, 50%);
}
.bee .body .wing:nth-child(3) {
    transform: rotate(-110deg) translate(-75%, 25%);
}

.bee .body .head {
    position: absolute;
    background: gold;
    width: 20px;
    height:20px;
    border-radius: 50%;
    border: 2px solid goldenrod;
    transform: translateX(-50%) translateY(-5%);
}

.bee .body .head .eye {
    position: absolute;
    background: black;
    width: 7.5px;
    height:7.5px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-5%);
    left: 50%;
    top:5%;
}

.bee .body .head .eye:nth-child(2) {
    top:55%;
}