* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.toy-container {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  background: #f0f0f0;
  overflow: hidden;
  cursor: pointer;
}

.toy-container img {
  position: absolute;
}

.background {
  z-index: 1;

  width: 100%;
  height: 100%;
}

.boy {
  z-index: 2;
}

.boy-right {
  opacity: 0;
  width: 100px;
  height: 100px;
  bottom: 0;
}

.boy-left {
  opacity: 0;
  width: 100px;
  height: 100px;
  bottom: 0;

  transform: translateX(100px);
}

.stick {
  z-index: 3;
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 60px;
  bottom: 35px;
}

.spinning-toy {
  z-index: 4;
  opacity: 0;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 65px;
  bottom: 50px;
}

.text1 {
  z-index: 1;
  width: 100%;
  font-size: 14px;
  color: gainsboro;
  position: absolute;
  bottom: 10px;
  left: -150px;
}

.text2 {
  z-index: 1;
  width: 100%;
  font-size: 14px;
  color: lime;
  position: absolute;
  top: 35px;
  left: -10px;
  transform: rotate(-30deg);
  opacity: 0;
}

/*  HOVER */

.toy-container:hover .text1 {
  opacity: 1;
  animation: to-right-text 1s linear both;
}

.toy-container:hover .boy-right {
  opacity: 1;
  animation: to-right 1s linear both;
}

/* press */
.toy-container:active {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
}

.toy-container:active .boy-right {
  opacity: 0;
}

.toy-container:active .boy-left {
  opacity: 1;
}

.toy-container:active .stick {
  opacity: 1;
}

.toy-container:active .text1 {
  opacity: 0;
}

.toy-container:active .text2 {
  opacity: 1;
}

.toy-container:active .spinning-toy {
  opacity: 1;
  transform: translateX(0) scale(1.15);
  animation: spin-fast 0.3s linear reverse infinite;
}

/* anims */
@keyframes to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

@keyframes to-right-text {
  from {
    left: -150px;
  }
  to {
    left: 15px;
  }
}

@keyframes spin-fast {
  from {
    transform: translateX(0) scale(1.15) rotate(0deg);
  }
  to {
    transform: translateX(0) scale(1.15) rotate(360deg);
  }
}
